@charset "iso-8859-2";
/* CSS Document */

@font-face {
    font-family: "helvetica";
    src: url(fonts/Helvetica.eot);
    src: local("helvetica"), url(fonts/Helvetica.TTF) format("truetype");
}

/**************** Clear fields jquery plugin *****************/
.clearFieldBlurred { color: #666; font-style: italic; }
.clearFieldActive { color: #000; }


a {
	text-decoration: none;
	color: #fff;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #FF7F00;
}

div.spacer{
	height: 1em;
}
#top{
	font-size: 15px;
	color: #000;
	position:relative;
	top:0;
	left:0;
	width: 100%; 
	height: 60px; 
	background:url(../imagenes/fondoheader.png) repeat-x;
}
#top ul{
margin:25px 0 0 -30px;
color:#FFFFFF;
}
#top ul li{
display:inline;
}

#top ul li a{
	color: #fff;
	text-decoration: none;
}

#top ul li a:hover{
	text-decoration: underline;
}

#header {
	height: 60px;
}

#nombreTienda {
	font-size: 2em;
	margin-top: 7px;
	color: #f07a04;
	font-weight: bold;
	text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
	font-family: 'Coda Caption', serif;
}
/*************************** Búsqueda **********************/
#buscar {
	margin-top: 10px;
	background:url(../imagenes/cajabusqueda.png) no-repeat;
}

#buscar input[type=text]{
	background: transparent;
	border: none;
	height: 23px;
	width: 185px;
	outline: none;
	padding-left: 10px;
}

#buscar input[type=submit]{
	background: url(../imagenes/lupa.png) no-repeat;
	border:none;
	height: 15px;
	width: 16px;
	font-size: 0;
	position: relative;
	top: 4px;
	right: 5px;
	float: right;
}

#contenido {
	margin-top: 30px;
}

.titulo{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size:18px;
	margin-top: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

.precio{
color: #c06b0f;
font-weight: bold;
font-style: italic;
margin-left:170px;
font-size:18px;
}

/*********** Columna izquierda *************/
.sider{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}

#sider ul{
	position: relative;
	left: -20px;
}

#sider ul li{
	list-style: none;
	text-align: left;
	margin-bottom: 8px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

#sider ul li a{
	color: #fff;
	text-decoration: none;
}

#sider ul li a:hover{
	text-decoration: underline;
}

#sider ul li.separador{
	display: block;
	width: 104px;
	height: 1px;
	background: #fff;
	margin-top: -5px;
}


#slide-show{
border: 1px solid #000000;
}
/****************Carrito de compras***************************/
#carrito_tabla {
	text-align: center;
}
#carrito_tabla table{
	margin: 0 auto 5px;

}
#carrito_tabla th{
	color: #fff;
	text-align: left;
	vertical-align: middle;
}

#carrito_tabla td, #carrito_tabla th {
	padding: 2px;
}


#carrito_tabla td{
	color: #FF7F00;
	text-align: right;
	vertical-align: middle;
}

#carrito_tabla a{
	color: #FF7F00;
	font-size: 16px;
}

/**************** Usuario ***********************/
#control_usuario {
	margin-top: 25px;
}

#control_usuario input[type=text], #control_usuario input[type=password]{
	background: transparent;
	border: none;
	height: 23px;
	width: 111px;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	background:url(../imagenes/fondousuario.png) no-repeat;
}

#control_usuario p {
	margin-top: -8px;
}

/********************* Secciones ***********************/
h1.titulo_seccion {
	color:#000;
	margin-top: 15px;
	border-bottom: 1px solid #000;
	padding-bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-variant: normal;;
}


/********************* Destacados **********************/
#destacados_seccion .articulo {
	margin-bottom: -35px;
	margin-left: 0;
}


#destacados_seccion .descripcion {
	background: url(../imagenes/fondo_transparente.png);
	position: relative;
	width: 220px;
	height: 55px;
	top: -55px;
	float: left;
	overflow: hidden;
}

#destacados_seccion .descripcion .titulo {
	text-align: left;
	float: left;
	width: 110px;
	color: #FF7F00;
	font-size: 14px;
	margin: 0 0 0 5px;
}
#destacados_seccion .descripcion .precio {
	text-align: right;
	float: right;
	margin: 0;
	margin-right: 5px;
	font-size: 14px;
	font-weight: normal;
}

#destacados_seccion .descripcion .texto {
	clear: both;
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
	width: 110px;
}

/******************* Ofertas **************************/
#ofertas_seccion .descripcion p {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
}

#ofertas_seccion .titulo {
	text-align: left;
	width: 110px;
	color: #FF7F00;
	font-size: 14px;
	margin: 10px 0 0 10px;
}
#ofertas_seccion .titulo a {
	color: #FF7F00;
}

#ofertas_seccion .precio {
	text-align: right;
	float: right;
	color: #FF7F00;
	font-size: 14px;
	margin: 10px 10px 0 10px;
}




#header{
	color: #000;
}

#menu ul{
	padding-top:10px;
	margin-bottom:10px;
}
#menu ul li{
	display:inline;
	font:15px bold Helvetica, Arial, sans-serif;
}


img.der{
	border:2px solid #e7f7fb;
	width:140px;
	height:140px;
	margin-bottom:10px;
}
img.izq{
	width:220px;
	height:220px;
}
.descrip {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
		background: #004c66;
		width:300px;
		height:140px;
		font:12px bold Helvetica, sans-serif;
		margin-bottom:19px;
}
.topg {

	background: #004c66;
	width:115px;
	height:320px;
	font:15px bold Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

#footer{
	width: 100%;
	border-top: 1px solid #ccc;
}